@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Gobal Variables
$clr-btn: #52489C;
$clr-primary: #4062BB;
$clr-secondary: #59C3C3;
$clr-text: #fff;
/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

body {
  background-color:$clr-secondary;
}

.App {
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  padding: 10px;
	min-height: 100vh;

  .calculator {
    width: 90%;
    max-width: 450px;
    overflow: hidden;
    margin: 0 auto;
    border: 10px solid $clr-text;
    box-shadow: 0px 2px 6px rgba(0,0,0, 0.4);

    .screen {
      color: $clr-text;
      font-size: 24px;
      background-color: $clr-primary;
      padding: 14px;
      text-align: right;
      font-weight: 500;

       span {
        font-size: 12px;
        color: #888;
      }
    }
  }

  .operators {
    display: flex;

    button {
      flex: 1 1 0%;
      background-color: $clr-secondary;
      font-weight: 700;
      &:hover {
        color: $clr-primary;
      }
    }
  }

  button {
    color: $clr-text;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 20px;
    cursor: pointer;
    transition: .3s ease-in;
    &:hover {
      opacity: 0.9;
      color: $clr-secondary;
    }&:hover:last-child {
      color: $clr-primary;
    }
  }
  
.digits {
    display: flex;
    flex-wrap: wrap;
  
    button {
      // flex-grow--flex-shrink---flex-basis
      flex: 1 1 35%;
      background-color: $clr-primary;
    }
  
    button:last-child {
      background-color: $clr-secondary;
    }
  }
}




